

<module name = "Checker">
    <property name="charset" value="UTF-8"/>

    <property name="severity" value="error"/>

    <property name="fileExtensions" value="java, properties, xml"/>

    <module name="SuppressionFilter">
      <property name="file" value="dev/checkstyle-suppressions.xml"/>
    </module>

    <!--
    If you wish to turn off checking for a section of code, you can put a comment in the source
    before and after the section, with the following syntax:
      // checkstyle:off no.XXX (such as checkstyle.off: NoFinalizer)
      ...  // stuff that breaks the styles
      // checkstyle:on
    -->
    <module name="SuppressionCommentFilter">
        <property name="offCommentFormat" value="checkstyle.off\: ([\w\|]+)"/>
        <property name="onCommentFormat" value="checkstyle.on\: ([\w\|]+)"/>
        <property name="checkFormat" value="$1"/>
    </module>

    <!-- Checks for whitespace                               -->
    <!-- See http://checkstyle.sf.net/config_whitespace.html -->
    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>

    <module name="RegexpSingleline">
        <!-- \s matches whitespace character, $ matches end of line. -->
        <property name="format" value="\s+$"/>
        <property name="message" value="No trailing whitespace allowed."/>
    </module>

</module>